{% extends "base.html" %}
{% load urlify %}


{% block head_title %}{{ instance.title }} | {{ block.super }}{% endblock head_title %}

{% block content %}
    <div class="col-sm-6 col-sm-offset-3 p-5">

        <button href='{% url "update" slug=instance.slug %}'>Edit</button><br/>
        {% if obj.image %}
            <img src='{{ instance.image.url }}' class='img-fluid'/>
        {% endif %}
        <h1>{{instance.title}}</h1><small>{{ instance.timestamp}}</small><br/>


        <div class='anchortags'>
            <!-- {{ request.build_absolute_uri }} -->
            <!-- Share on Facebook anchortag-->
            <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}">
                Facebook</a>
            <!-- Share on X anchortag-->
            <a href="https://x.com/home?status={{ instance.content|urlify }}%20{{ request.build_absolute_uri }}">
                X</a>
            <!-- Share on GooglePlus anchortag-->
            <a href='https://plus.google.com/share?url={{ request.build_absolute_uri }}'>
                Google+</a>
            <!-- Share on Linkedin anchortag-->
            <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ request.build_absolute_uri }}&title={{ intance.title }}&summary={{ share_string }}&source={{ request.build_absolute_uri }}">
                Linkedin</a>
            <!-- Share on Reddit anchortag-->
            <a href="http://www.reddit.com/submit?url={{ request.build_absolute_uri }}&title={{ share_string }}.">
                Reddit</a>
        </div>
        
        
    </div>

{% endblock content %}